<!DOCTYPE html>
<html lang="en"/>
<title>Hoie.Kim Mail</title>

<head>
  <meta name="viewport" content="width=630px"/>
  <meta name="description" content="Welcome to Mailbox">
  <meta name="author" content="Mailbox">
  <meta property="og:description" content="Welcome to Mailbox">
  <meta property="og:title" content="Mailbox">
</head>

<script>
  if(!!window.performance && window.performance.navigation.type === 2) window.location.reload();
</script>
