<%- include('./partials/head') %>
<%- include('./partials/style') %>

<style>
  .disabledInput {
    color: grey;
    font-size: 0.8rem;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border: dashed 0.5px grey;
    box-sizing: border-box;
    border-radius: 3px;
    height: 30px;
    width: 200px;
  }
  #greeting {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  #adminPw, #login {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    width: 300px;
  }
</style>

<body>
  <h1><%= owner %> Mail</h1>
  <h3 id="greeting">Please log in</h3>
  <div>
    <input id="adminPw" placeholder="Admin Only" type="password"/>
    <button id="login">Login</button>
  </div>
</body>

<script>
  const adminPw = document.getElementById("adminPw")
  const login = () => {
    fetch("/admin", {
      method: "POST",
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify({
        password: adminPw.value 
      })
    }).then((r) => {
      location.href = "/"
    })
  }

  adminPw.addEventListener("keypress", (e) => {
      if (e.key === "Enter") login()
  })
  document.getElementById("login").addEventListener("click", login)
</script>
