<%- include('./partials/head') %>
<%- include('./partials/style') %>

<style>
  iframe {
    background-color: rgb(230,230,230);
    box-sizing: border-box;
    width: 100%;
    border: none;
    overflow-x: scroll;
    margin-top: 1rem;
    transition: 0.2s;
  }
  
  i {
    font-size: 20px;
  }
  i.cursor:hover {
    font-size: 24px;
  }

  blockquote.unread {
    border-color: rgb(200,20,20);
  }

  #container-mails {
    position: relative;
    transition: 150ms;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #container-mails.clipped {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  
  #buttons {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
  }
  button > i {
    font-size: 10px;
  }

  .content {
    margin: 0;
  }
  .tag {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: rgb(100,100,100);
    color: white;
  }
  .tag:hover {
    background-color: rgb(80,80,80);
  }
  .tag:active {
    background-color: rgb(60,60,60);
  }
  .tag.clicked {
    background-color: rgb(70,70,70);
  }
  .numberBall {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 16px;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    text-align: center;
    line-height: 19px;
    border-radius: 10px;
    background-color: rgb(200,20,20);
    color: white; 
  }

  .headerBox {
    position: relative;
  }
  .actionBox {
    position: absolute;
    display: inline-block;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    right: 1rem;
  }
  .header {
    display: inline-block;
    width: calc(100% - 5rem);
  }
  .iconBox {
    display: inline-block;
    margin: 3px;
    height: 25px;
    width: 25px;
    text-align: center;
  }

  .cursor, .cursor > * {
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .mailcard-small {
    font-size: 14px;
  }
  .mailcard-subject {
    font-size: 20px;
    margin-top: 0.5rem;
  }

  .fieldName {
    margin-top: 1rem;
  }
  input.writer-short {
    width: 100px;
  }
  input.writer-long {
    width: 100%;
    text-align: left;
  }
  textarea.writer-fat {
    width: 100%;
    height: 500px;
  }
  #writer-send {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
</style>


<body>
  <h1>Hoie.Kim Mail</h1>
  <div id="buttons">
    <button id="write"><i class="fas fa-pen"></i> Write Mail</button>
    <button id="refresh"><i class="fas fa-sync-alt"></i> Get Mails</button>
    <button id="logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
  </div>
  <div id="container">
    <div id="container-writer" class="container hide">
      <div>
        <div class="fieldName">From: </div>
        <input id="writer-name" class="writer-short" placeholder="name" />
        <span class="helper-text"> < </span>
        <input id="writer-from" class="writer-short" placeholder="account" />
        <span class="helper-text">@hoie.kim ></span>
      </div>
      <div>
        <div class="fieldName">To: </div>
        <input id="writer-to" class="writer-long" placeholder="example@email.com" />
      </div>
      <div>
        <div class="fieldName">Subject: </div>
        <input id="writer-title" class="writer-long" placeholder="This is the mail subject" />
      </div>
      <div>
        <div class="fieldName">Content: </div>
        <textarea id="writer-body" class="writer-fat" placeholder="Say something really cool here!"></textarea>
      </div>
      <div>
        <button id="writer-send">Send</button>
      </div>
    </div>
    <div id="container-accounts" class="container"></div>
    <div id="container-mails" class="container"></div>
  </div>
</body>

<script src="https://kit.fontawesome.com/0472eae8e7.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
  document.getElementById("writer-send").addEventListener("click", async () => {
    if (!confirm("Do you want to send it?")) return
    const name = document.getElementById("writer-name").value 
    const sender = document.getElementById("writer-from").value 
    const to = document.getElementById("writer-to").value 
    const subject = document.getElementById("writer-title").value 
    const html = marked(document.getElementById("writer-body").value);
    const result = await fetch("/api/send", {
      method: "POST",
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify({
        name,
        sender,
        to,
        subject,
        html
      })
    }).then(r => r.json())
    console.log(result)
    if (result?.messageId) {
      alert("Your mail is sent successfully")
      document.querySelectorAll("input, textarea").forEach((e) => { e.value = "" })
    } else {
      alert("Email delivery has failed. Please try again.")
    }
  })
</script>

<script>
  let writerIsShown

  document.getElementById("write").addEventListener("click", () => {
    if (writerIsShown) return
    writerIsShown = true
    document.querySelectorAll(".tag").forEach((e) => e.remove())
    document.querySelectorAll(".mailcard").forEach((e) => e.remove())
    document.getElementById("container-writer").classList.remove("hide")
  })
  
  document.getElementById("logout").addEventListener("click", () => {
    fetch("/admin", { method: "DELETE" }).then((r) => {
      location.href = "/"
    })
  })

  document.getElementById("refresh").addEventListener("click", () => {
    start()
  })

  const container_accounts = document.getElementById("container-accounts")
  const container_mails = document.getElementById("container-mails")

  const renderAccount = (account) => {
    const head = document.createElement("h3")
    container_accounts.append(head)
    head.classList.add("cursor", "tag")
    head.innerText = account.split("@")[0]
    const number = document.createElement("div")
    fetch(`/api/unreadNo/${account}`).then(r => r.json()).then((r) => {
      if (r) {
        number.classList.add("numberBall")
        number.innerText = r
        head.append(number)
      }
    })
    let working
    let data
    head.addEventListener("click", () => {
      if (head.classList.contains("clicked")) return
      if (working) return
      working = true
      document.querySelectorAll(".clicked").forEach((e) => {
        e.classList.remove("clicked")
        e.classList.add("cursor")
      })
      head.classList.add("clicked")
      head.classList.remove("cursor")
      container_mails.style.top = (0 - container_mails.offsetHeight) + "px"
      container_mails.classList.add("clipped")
      const showMails = (r) => {
        data = r
        document.querySelectorAll(".mailcard").forEach((e) => e.remove())
        r.forEach((e) => { 
            console.log(e)
            renderMail(e, { head: head, number: number })
        })
        container_mails.style.top = (0 - container_mails.offsetHeight) + "px"
        setTimeout(() => {
          container_mails.style.top = 0
          container_mails.classList.remove("clipped")
          working = false
        }, 140)
      }
      setTimeout(() => {
        if (!data) {
          return fetch(`/api/mails/${account}`).then(r => r.json()).then((r) => {
            showMails(r)
          })
        }
        showMails(data)
      }, 140)
    })
  }

  const renderMail = (e, head) => {
    const element = document.createElement("blockquote")
    element.classList.add("mailcard")
    if (!e.read) element.classList.add("unread")
    container_mails.prepend(element)
    const headerBox = document.createElement("div")
    element.append(headerBox)
    const header = document.createElement("div")
    header.classList.add("header", "cursor")
    header.innerHTML = `
      <div class="mailcard-small content">${new Date(e.date)}</div>
      <div class="mailcard-small content">${e.from.text.replace("<", "&lt;").replace(">", "&gt;")}</div>
    `
    headerBox.append(header)
    const subject = document.createElement("div")
    subject.classList.add("mailcard-subject", "content")
    subject.innerText = e.subject
    element.append(subject)
    const text = document.createElement("iframe")
    text.classList.add("hide", "text")
    text.srcdoc = `
    <style>
      body {
        margin: 0;
        overflow-y: hidden;
      }
      * {
        font-family: 'Open Sans';
        font-weight: 100;
        color: rgb(30,30,30);
      }
    </style>
    <div style="padding: 1rem;">
      ${e.html}
    </div>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    `
    text.style.height = 0 
    element.append(text)
    header.addEventListener("click", () => {
      if (text.classList.contains("hide")) {
        if (!e.read) {
          fetch(`/api/markRead/${e.id}`)
          e.read = true
          element.classList.remove("unread")
          head.number.innerText -= 1
          if (head.number.innerText === "0") head.number.remove()
        }
        document.querySelectorAll(".text").forEach((e) => {
          if (e === text) return
          e.style.height = 0
          setTimeout(() => {
            e.classList.add("hide")
          }, 130)
        })
        setTimeout(() => {
          text.classList.remove("hide")
          text.style.height = (text.contentWindow.document.body.scrollHeight) + 'px';
        }, 130)
        return
      }
      text.style.height = 0
      setTimeout(() => {
        text.classList.add("hide")
      }, 130)
    })
    const actionBox = document.createElement("div")
    actionBox.classList.add("actionBox")
    headerBox.append(actionBox)
    const trashBox = document.createElement("div")
    trashBox.classList.add("iconBox")
    const trash = document.createElement("i")
    trash.classList.add("fas", "fa-trash", "cursor")
    trashBox.prepend(trash)
    actionBox.prepend(trashBox)
    trash.addEventListener("click", () => {
      event.stopPropagation()
      const sure = confirm("Do you want to delete this mail?")
      if (sure) {
        fetch(`/api/mails/${e.id}`, { method: "DELETE" }).then((r) => {
          element.remove()
          const mailcards = document.querySelectorAll(".mailcard")
          console.log(mailcards)
          if (!mailcards.length) head.head.remove()
        })
      }
    })
    const replyBox = document.createElement("div")
    replyBox.classList.add("iconBox")
    const reply = document.createElement("i")
    reply.classList.add("fas", "fa-reply", "cursor")
    replyBox.prepend(reply)
    actionBox.prepend(replyBox)
    reply.addEventListener("click", () => {})
  }

  const start = () => {
    if (writerIsShown) {
      writerIsShown = false
      document.getElementById("container-writer").classList.add("hide")
    }
    document.querySelectorAll(".tag").forEach((e) => e.remove())
    document.querySelectorAll(".mailcard").forEach((e) => e.remove())
    fetch("/api/accounts").then(r => r.json()).then((r) => r.forEach(renderAccount))
  }

  start()
</script>
