<%- include('./partials/head') %>

<body>
  <h1>Mailbox </h1>
  <div id="buttons">
    <button id="refresh"><i class="fas fa-sync-alt"></i> Refresh</button>
    <button id="logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
  </div>
  <div id="container">
    <div id="container-accounts" class="container"></div>
    <div id="container-mails" class="container"></div>
  </div>
</body>

<script src="https://kit.fontawesome.com/0472eae8e7.js"></script>

<script>
  document.getElementById("logout").addEventListener("click", () => {
    fetch("/admin", { method: "DELETE" }).then((r) => {
      location.href = "/"
    })
  })

  document.getElementById("refresh").addEventListener("click", () => {
    start()
  })

  const container_accounts = document.getElementById("container-accounts")
  const container_mails = document.getElementById("container-mails")

  const renderAccount = (account) => {
    const head = document.createElement("h3")
    container_accounts.append(head)
    head.classList.add("header", "tag")
    head.innerText = account.split("@")[0]
    let working
    head.addEventListener("click", () => {
      if (working) return
      working = true
      document.querySelectorAll(".clicked").forEach((e) => e.classList.remove("clicked"))
      head.classList.add("clicked")
      container_mails.style.top = (0 - container_mails.offsetHeight) + "px"
      container_mails.classList.add("clipped")
      setTimeout(() => {
        fetch(`/api/mails/${account}`).then(r => r.json()).then((r) => {
          document.querySelectorAll(".mailcard").forEach((e) => e.remove())
          r.forEach(renderMail)
          container_mails.style.top = (0 - container_mails.offsetHeight) + "px"
          setTimeout(() => {
            container_mails.style.top = 0
            container_mails.classList.remove("clipped")
            working = false
          }, 140)
        })
      }, 140)
    })
  }

  const renderMail = (e) => {
    const element = document.createElement("blockquote")
    element.classList.add("mailcard")
    container_mails.prepend(element)
    const header = document.createElement("div")
    header.classList.add("header")
    header.innerHTML = `
      <p class="mailcard-date content">${new Date(e.date)}</p>
      <p class="mailcard-from content">${e.envelopeFrom.address}</p>
      <p class="mailcard-subject content">${e.subject}</p>
    `
    element.append(header)
    const text = document.createElement("iframe")
    text.classList.add("hide", "text")
    text.srcdoc = `
    <div style="font-family: Open Sans; background-color: #EBEBEB; color: #505051; padding: 1rem;">
      ${e.html}
    </div>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <style>
      body {
        margin: 0;
        overflow-y: hidden;
      }
    </style>
    `
    text.style.height = 0 
    element.append(text)
    header.addEventListener("click", () => {
      if (text.classList.contains("hide")) {
        document.querySelectorAll(".text").forEach((e) => {
          e.classList.add("hide")
        })
        text.classList.remove("hide")
        text.style.height = (text.contentWindow.document.body.scrollHeight) + 'px';
        return
      }
      text.style.height = 0
      setTimeout(() => {
        text.classList.add("hide")
      }, 130)
    })
    const trashbox = document.createElement("div")
    trashbox.classList.add("trashbox")
    const trash = document.createElement("i")
    trash.classList.add("fas", "fa-trash")
    trashbox.prepend(trash)
    header.prepend(trashbox)
    trash.addEventListener("click", () => {
      event.stopPropagation()
      const sure = confirm("Do you want to delete this mail?")
      if (sure) {
        fetch(`/api/mails/${e.id}`, { method: "DELETE" }).then((r) => {
          element.remove()
        })
      }
    })
  }

  const start = () => {
    document.querySelectorAll(".tag").forEach((e) => e.remove())
    document.querySelectorAll(".mailcard").forEach((e) => e.remove())
    fetch("/api/accounts").then(r => r.json()).then((r) => r.forEach(renderAccount))
  }

  start()
</script>

<%- include('./partials/style') %>

<style>
  iframe {
    box-sizing: border-box;
    width: 100%;
    border: none;
    overflow-x: scroll;
    margin-top: 1rem;
    transition: 0.2s;
  }
  
  i {
    font-size: 20px;
    transition: 0.1s;
  }
  .fa-trash:hover {
    font-size: 24px;
  }

  #container-mails {
    position: relative;
    transition: 150ms;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #container-mails.clipped {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  
  #buttons {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
  button > i {
    font-size: 13px;
  }

  .content {
    margin: 0;
  }
  .tag {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: rgb(150,150,150);
    color: white;
  }
  .tag:hover {
    background-color: rgb(100,100,100);
  }
  .tag:active {
    background-color: rgb(75,75,75);
  }
  .tag.clicked {
    background-color: rgb(100,100,100);
  }

  .header {
    position: relative;
    cursor: pointer;
  }
  .trashbox {
    height: 25px;
    width: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .hide {
    display: none;
  }
  .mailcard-from {
    margin-top: 1rem;
  }
</style>

