@import "../../../variables.scss";

@media (prefers-color-scheme: light) {
  .tab-holder {
    .categories {
      background-color: adjust-color($color-light, $lightness: -10%);

      div.clicked {
        background-color: adjust-color($color-light, $lightness: 0%);
      }
    }

    .accounts {
      background-color: adjust-color($color-light, $lightness: 0%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .tab-holder {
    .categories {
      background-color: adjust-color($color-dark, $lightness: -4%);

      div.clicked {
        background-color: adjust-color($color-dark, $lightness: 0%);
      }
    }

    .accounts {
      background-color: adjust-color($color-dark, $lightness: 0%);
    }
  }
}

.tab-holder {
  display: flex;
  height: 100%;

  .categories {
    padding: 70px 0 1rem 0.5rem;
    width: 80px;
    height: 100%;

    div {
      height: 60px;
      font-size: 20px;
      padding: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:not(.skeleton) > div {
      cursor: pointer;
    }

    &.skeleton > div > div {
      height: 100%;
      border-radius: 10px;
      background-color: rgba(100, 100, 100, 0.2);
    }
  }

  .accounts {
    position: relative;
    top: 70px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    height: calc(100vh - 70px);
    width: calc(100% - 80px);
    overflow-y: scroll;

    .tag {
      display: inline-block;
      position: relative;
      max-width: 175px;
      padding: 0.5rem 1rem;
      margin: 0 0 0.5rem 0;
      border-radius: 5px;
      overflow-wrap: break-word;
      vertical-align: bottom;

      .numberBall {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 16px;
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 1px;
        text-align: center;
        line-height: 19px;
        border-radius: 10px;
        background-color: rgb(200, 60, 70);
        color: white;
      }
    }
  }
}
