@use "sass:color";
@use "../../../variables" as *;

@media (prefers-color-scheme: light) {
  .tab-holder {
    .categories {
      background-color: color.adjust($color-light, $lightness: -10%);

      div.clicked {
        background-color: color.adjust($color-light, $lightness: -5%);
      }
    }

    .accounts {
      background-color: color.adjust($color-light, $lightness: -5%);

      .sort_icon {
        > div > svg {
          color: color.adjust($color-dark, $alpha: -0.75);
        }
      }

      .sort_box {
        background-color: color.adjust($color-light, $lightness: 5%);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .tab-holder {
    .categories {
      background-color: color.adjust($color-dark, $lightness: -6%);

      div.clicked {
        background-color: color.adjust($color-dark, $lightness: -2%);
      }
    }

    .accounts {
      background-color: color.adjust($color-dark, $lightness: -2%);

      .sort_icon {
        > div > svg {
          color: color.adjust($color-light, $alpha: -0.75);
        }
      }

      .sort_box {
        background-color: color.adjust($color-dark, $lightness: 2%);
      }

      .sort_select {
        background-color: color.adjust($color-dark, $lightness: 0%);
      }

      .sort_option:hover {
        background-color: color.adjust($color-dark, $lightness: 3%);
      }
    }
  }
}

.tab-holder {
  display: flex;
  height: 100%;

  .categories {
    padding: 0 0 0.5rem calc(0.5rem + 50px);
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      position: relative;
      width: 72px;

      > div {
        height: 60px;
        font-size: 20px;
        padding: 1rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;

        &.flex {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            height: 20px;

            &:hover {
              height: 24px;
            }

            &:active {
              height: 22px;
            }
          }
        }

        > div {
          position: relative;
        }
      }
    }

    &:not(.skeleton) > div > div {
      &,
      * {
        cursor: pointer;
      }
    }

    &.skeleton > div > div > div {
      width: 70%;
      height: 50%;
      border-radius: 10px;
      background-color: rgba(100, 100, 100, 0.2);
    }
  }

  .accounts {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    overflow-y: scroll;
    overflow-x: hidden;

    > * {
      margin-left: 0.5rem;
    }

    .search_container {
      input {
        width: calc(100% - 1rem);
        margin: 0.5rem 0.5rem 1rem 0.5rem;
        text-align: start;
      }
    }

    .tag {
      font-size: 18px;
      display: inline-block;
      position: relative;
      max-width: 240px;
      padding: 0.5rem 1rem;
      margin: 0 0 0.5rem 0;
      border-radius: 5px;
      overflow-wrap: break-word;
      vertical-align: bottom;
    }

    .sort_box {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      position: relative;
      padding: 0.5rem 0.5rem 0;
      margin: 0 0.5rem 0.5rem 0;
      z-index: 6;

      > div {
        height: 30px;
      }

      .sort_icon {
        white-space: nowrap;
        width: 20px;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
          width: 10px;
          height: 30px;

          > svg {
            width: 15px;
            height: 30px;
          }

          > svg.highlight {
            color: inherit;
          }

          > svg:nth-child(2) {
            position: relative;
            right: 15px;
          }
        }
      }

      .sort_text {
        flex: 1;
      }

      .sort_current {
        padding-left: 0.5rem;
        line-height: 27px;
        border-radius: 5px;
      }

      .sort_select {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.05);

        .sort_option {
          margin: 0.5rem 0;
          padding: 0.5rem 1rem;
        }
      }
    }

    .tags_container {
      z-index: 5;
    }

    .numberBall {
      min-width: 20px;
      top: -5px;
      right: -10px;
      font-size: 16px;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom: 1px;
      text-align: center;
      line-height: 19px;
      border-radius: 10px;
      background-color: rgb(200, 60, 70);
      color: white;
    }
  }
}

.numberBall {
  position: absolute;
  min-width: 8px;
  min-height: 8px;
  top: -4px;
  right: -8px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(200, 60, 70);
  color: white;
}
