h3.greeting {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

div.info_message {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

#adminPw,
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5rem;
  width: 250px;
}

.container_login {
  width: 100vw;
}
