@import "../variables.scss";

.pane {
  overflow: visible;

  &,
  & > .curtain {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 350ms cubic-bezier(0.31, 0.25, 0.52, 1.19);
    top: 55px;
  }

  .curtain {
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;

    &.on {
      pointer-events: all;
    }
  }
}

.main_pane {
  padding: 5px 0.5rem 0.5rem 0.5rem;
}

.writer_pane {
  z-index: 10;
  overflow: hidden;

  &,
  & > .curtain {
    max-width: 950px;
  }
}
