.pane {
  position: fixed;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 150ms;
}

.main_pane {
  padding: 0 0.5rem 0.5rem 1rem;

  &,
  & > .curtain {
    top: 55px;
    height: calc(100vh - 55px);
  }
}

.side_pane {
  z-index: 5;
  overflow: hidden;

  &,
  & > .curtain {
    height: 100vh;
  }
}

.writer_pane {
  top: 55px;
  z-index: 10;
  transition: 150ms;
  position: fixed;
  margin-top: 0;
  height: calc(100vh - 65px);
}
