@import "../variables.scss";

.pane {
  position: fixed;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 150ms;
}

.main_pane {
  padding: 5px 0.5rem 0.5rem 1rem;

  &,
  & > .curtain {
    top: 55px;
  }
}

.writer_pane {
  top: 60px;
  z-index: 10;
  transition: 150ms;
  position: fixed;
  margin-top: 0;
}
