.writer {
  width: calc(100vw - 400px);
  height: calc(100vh - 80px);
  transition: 150ms;
  position: fixed;
  margin-top: 0;

  .attachment {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
}

#writer-content .attachment {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.attachment > i {
  font-size: 14px;
}
.attachment-text {
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  white-space: nowrap;
}
.attachment-preview {
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 200px;
  left: 4px;
  padding: 0.5rem;
  border-radius: 4px;
  top: 12px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.attachment-preview.clipped {
  pointer-events: none;
  top: -184px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#container-writer input {
  margin-bottom: 1rem;
}
.fieldName {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  height: 20px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.fieldName i {
  font-size: 18px;
}
.fieldName i:hover {
  font-size: 20px;
}
.fieldName i:active {
  font-size: 19px;
}
.helper-text {
  font-size: 12px;
}
input.writer-short {
  width: 100px;
}
input.writer-long {
  width: 100%;
  text-align: left;
  transition: 150ms;
}
input.writer-long.hide {
  display: block;
  width: 0;
}
.inputBox-flex {
  display: flex;
}
#writer-cc {
  margin: 0 0.5rem;
}
.writer-body {
  height: calc(100% - 350px);
}
#writer-content-wrap {
  width: 100%;
  height: 100%;
  perspective: 4000px;
}
#writer-content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 600ms;
  transform-style: preserve-3d;
}
#writer-content.flip {
  transform: rotateY(180deg);
}
#writer-content > * {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#writer-preview {
  margin: 0;
  border-radius: 3px;
  transform: rotateY(180deg);
}
#writer-buttons-wrap {
  width: 350px;
  margin: auto;
  margin-top: 1rem;
}
.writer-buttons {
  display: inline-block;
  margin: 1rem 0.5rem;
  width: 150px;
  height: 35px;
  font-size: 16px;
}
