@use "sass:color";
@import "./variables.scss";

body {
  overflow: hidden;
  position: relative;
  min-width: 400px;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-weight: 100;
    cursor: default;
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
  }
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  input::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    border: 7px solid $color-light;
  }

  body {
    background-color: $color-light;
    color: $color-dark;
  }

  button {
    background-color: color.adjust($color-accent, $lightness: 17%);
    color: $color-light;

    &:hover {
      background-color: color.adjust($color-accent, $lightness: 24%);
    }

    &:active {
      background-color: color.adjust($color-accent, $lightness: 22%);
    }
  }

  blockquote {
    background-color: color.adjust($color-light, $lightness: 3%);
    border-left: 3px solid color.adjust($color-light, $lightness: 8%);

    &.mailcard:hover {
      background-color: color.adjust($color-light, $lightness: 4%);
    }
  }

  input,
  textarea {
    color: $color-dark;
    background-color: color.adjust($color-light, $lightness: 10%);
    box-shadow: 2px 2px 2px color.adjust($color-light, $lightness: -5%) inset,
      -1px -1px 2px color.adjust($color-light, $lightness: 20%) inset;
  }

  .attachment {
    background-color: color.adjust($color-light, $lightness: 8%);

    &:hover {
      background-color: color.adjust($color-light, $lightness: 10%);
    }
  }

  .tag {
    background-color: color.adjust($color-light, $lightness: 17%);
    color: $color-light;

    &:hover {
      background-color: color.adjust($color-light, $lightness: 24%);
    }

    &:active {
      background-color: color.adjust($color-light, $lightness: 22%);
    }

    &.clicked {
      background-color: color.adjust($color-light, $lightness: 7%);
    }
  }

  .curtain.on {
    background-color: color.adjust($color-light, $alpha: -0.4);
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.02);
  }
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  input::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border: 7px solid rgb(235, 235, 235);
  }
  input::-webkit-scrollbar-thumb:hover,
  textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  body {
    background-color: $color-dark;
    color: $color-light;
  }

  button {
    color: $color-light;
    background-color: color.adjust($color-accent, $lightness: 7%);

    &:hover {
      background-color: color.adjust($color-accent, $lightness: 14%);
    }
    &:active {
      background-color: color.adjust($color-accent, $lightness: 12%);
    }
  }

  blockquote {
    background-color: color.adjust($color-dark, $lightness: 3%);
    border-left: 3px solid color.adjust($color-dark, $lightness: 10%);

    &.mailcard:hover {
      background-color: color.adjust($color-dark, $lightness: 4%);
    }
  }

  input,
  textarea {
    color: $color-light;
    background-color: $color-dark;
    box-shadow: 1px 1px 2px color.adjust($color-dark, $lightness: -10%) inset,
      -0.5px -0.5px 2px color.adjust($color-dark, $lightness: 10%) inset;
  }

  .attachment {
    background-color: color.adjust($color-dark, $lightness: 10%);

    &:hover {
      background-color: color.adjust($color-dark, $lightness: 13%);
    }
  }

  .tag {
    background-color: color.adjust($color-dark, $lightness: 7%);
    color: $color-light;

    &:hover {
      background-color: color.adjust($color-dark, $lightness: 14%);
    }

    &:active {
      background-color: color.adjust($color-dark, $lightness: 12%);
    }

    &.clicked {
      background-color: $color-dark;
    }
  }

  .curtain.on {
    background-color: color.adjust($color-dark, $alpha: -0.4);
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-right: 1rem;

  &:nth-child(1) {
    margin-top: 0;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
a {
  color: rgb(100, 130, 220);
}
a:visited {
  color: rgb(100, 130, 220);
}

input,
textarea {
  font-size: 16px;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: auto;
}

input {
  text-align: center;
  height: 30px;
  width: 200px;
}

textarea {
  resize: vertical;
}
::placeholder {
  color: grey;
  font-size: 0.8rem;
}
button {
  border: none;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  height: 30px;
  width: 90px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  $color-light-space: nowrap;
}
button:hover {
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.under_header {
  position: fixed;
  top: 70px;
}

.curtain {
  z-index: 1;
  position: fixed;
  top: 70px;
  transition: 150ms;
  pointer-events: none;

  &.on {
    pointer-events: all;
  }
}

.cursor,
.cursor > * {
  cursor: pointer;
}
.hide {
  display: none;
}

svg {
  height: 1rem;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 25px;
  width: 25px;

  svg {
    height: 20px;

    &:hover {
      height: 24px;
    }

    &:active {
      height: 22px;
    }
  }
}

@media only screen and (max-width: 650px) {
  body {
    * {
      font-weight: 500;
    }
  }

  .menu {
    .iconBox {
      height: 45px;
      width: 45px;

      svg {
        height: 40px;

        &:hover {
          height: 44px;
        }

        &:active {
          height: 42px;
        }
      }
    }
  }
}
