@import "./variables.scss";

body {
  overflow: hidden;
  position: relative;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-weight: 100;
    cursor: default;
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  input::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    border: 7px solid $color-light;
  }

  body {
    background-color: $color-light;
    color: $color-dark;
  }

  button {
    background-color: adjust-color($color-accent, $lightness: 17%);
    color: $color-light;

    &:hover {
      background-color: adjust-color($color-accent, $lightness: 24%);
    }

    &:active {
      background-color: adjust-color($color-accent, $lightness: 22%);
    }
  }

  blockquote {
    background-color: adjust-color($color-light, $lightness: 3%);
    border-left: 3px solid adjust-color($color-light, $lightness: 8%);

    &.mailcard:hover {
      background-color: adjust-color($color-light, $lightness: 4%);
    }
  }

  input,
  textarea {
    color: $color-dark;
    background-color: adjust-color($color-light, $lightness: 10%);
    box-shadow: 2px 2px 2px adjust-color($color-light, $lightness: -5%) inset,
      -1px -1px 2px adjust-color($color-light, $lightness: 20%) inset;
  }

  .attachment {
    background-color: adjust-color($color-light, $lightness: 8%);

    &:hover {
      background-color: adjust-color($color-light, $lightness: 10%);
    }
  }

  .tag {
    background-color: adjust-color($color-light, $lightness: 8%);
    color: $color-dark;

    &:hover {
      background-color: adjust-color($color-light, $lightness: 14%);
    }

    &:active {
      background-color: adjust-color($color-light, $lightness: 12%);
    }

    &.clicked {
      background-color: adjust-color($color-light, $lightness: -10%);
    }
  }

  .curtain.on {
    background-color: adjust-color($color-light, $alpha: -0.4);
  }
}

@media (prefers-color-scheme: dark) {
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  input::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border: 7px solid rgb(235, 235, 235);
  }
  input::-webkit-scrollbar-thumb:hover,
  textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  body {
    background-color: $color-dark;
    color: $color-light;
  }

  button {
    color: $color-light;
    background-color: adjust-color($color-accent, $lightness: 7%);

    &:hover {
      background-color: adjust-color($color-accent, $lightness: 14%);
    }
    &:active {
      background-color: adjust-color($color-accent, $lightness: 12%);
    }
  }

  blockquote {
    background-color: adjust-color($color-dark, $lightness: 3%);
    border-left: 3px solid adjust-color($color-dark, $lightness: 10%);

    &.mailcard:not(.skeleton):hover {
      background-color: adjust-color($color-dark, $lightness: 4%);
    }
  }

  input,
  textarea {
    color: $color-light;
    background-color: adjust-color($color-dark, $lightness: -3%);
    box-shadow: 1px 1px 2px adjust-color($color-dark, $lightness: -10%) inset,
      -0.5px -0.5px 2px adjust-color($color-dark, $lightness: 10%) inset;
  }

  .attachment {
    background-color: adjust-color($color-dark, $lightness: 10%);

    &:hover {
      background-color: adjust-color($color-dark, $lightness: 13%);
    }
  }

  .tag {
    background-color: adjust-color($color-dark, $lightness: 7%);
    color: $color-light;

    &:not(.skeleton):hover {
      background-color: adjust-color($color-dark, $lightness: 14%);
    }

    &:not(.skeleton):active {
      background-color: adjust-color($color-dark, $lightness: 10%);
    }

    &.clicked {
      background-color: adjust-color($color-dark, $lightness: -4%);
    }
  }

  .curtain.on {
    background-color: adjust-color($color-dark, $alpha: -0.4);
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-right: 1rem;

  &:nth-child(1) {
    margin-top: 0;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
a {
  color: rgb(100, 130, 220);
}
a:visited {
  color: rgb(100, 130, 220);
}

input,
textarea {
  font-size: 16px;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: auto;
}

input {
  text-align: center;
  height: 30px;
  width: 200px;
}

textarea {
  resize: vertical;
}
::placeholder {
  color: grey;
  font-size: 0.8rem;
}
button {
  border: none;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  height: 30px;
  width: 90px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  $color-light-space: nowrap;
}
button:hover {
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.under_header {
  position: fixed;
}

.curtain {
  z-index: 1;
  position: fixed;
  transition: 150ms;
  pointer-events: none;

  &.on {
    pointer-events: all;
  }
}

.cursor,
.cursor > * {
  cursor: pointer;
}
.hide {
  display: none;
}

svg {
  height: 1rem;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  .iconBox {
    width: 72px;

    svg {
      height: 40px;

      &:hover {
        height: 44px;
      }

      &:active {
        height: 42px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    * {
      font-weight: 500;
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.loading_animation {
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    width: 200%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    animation: loading 2s infinite;
    content: "";

    @media (prefers-color-scheme: dark) {
      background-image: repeating-linear-gradient(
        60deg,
        rgba(#fff, 0) 0%,
        rgba(#fff, 0) 10%,
        rgba(#fff, 0.03) 50%,
        rgba(#fff, 0) 90%,
        rgba(#fff, 0) 100%
      );
    }
    @media (prefers-color-scheme: light) {
      background-image: repeating-linear-gradient(
        60deg,
        rgba(#000, 0) 0%,
        rgba(#000, 0) 10%,
        rgba(#000, 0.03) 50%,
        rgba(#000, 0) 90%,
        rgba(#000, 0) 100%
      );
    }
  }
}
