@use "sass:math";
@import "../../../variables.scss";

.getting_started {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 3rem 0.5rem 6rem;
  }

  h2 {
    font-weight: 500;
    text-align: center;
    color: $color-point;
  }

  p {
    text-align: center;
  }
}

.mails_container {
  width: 100%;
  position: relative;

  &.error {
    padding-top: 0.5rem;
  }

  iframe {
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    transition: 150ms;
    border: none;
    overflow-x: scroll;
  }

  blockquote {
    &.unread {
      border-color: rgb(200, 60, 70);
    }

    &.shadow {
      box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
    }
  }

  .text {
    margin-top: 0.4rem;
  }

  .header {
    display: inline-block;
    width: 100%;
  }

  .actionBox {
    position: absolute;
    display: flex;
    text-align: center;
    right: 1rem;
    top: 1rem;
  }

  .content {
    margin: 0;
  }

  .attachmentBox {
    position: relative;

    .attachment {
      margin-bottom: 0.4rem;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.4rem;
      padding: 0.4rem;
      font-size: 16px;

      svg {
        margin-right: 0.3rem;
      }
    }
  }

  .mailcard {
    position: relative;

    .mailcard-small {
      font-size: 16px;
      opacity: 0.7;
    }
    .mailcard-subject {
      font-size: 20px;
      margin-top: 0.5rem;
    }

    &.skeleton {
      border: none;
      width: 100%;
      height: 152.5px;
      overflow: hidden;
      position: relative;

      &::after {
        position: absolute;
        width: 300%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        background-image: repeating-linear-gradient(
          60deg,
          rgba(#fff, 0) 0%,
          rgba(#fff, 0.05) 50%,
          rgba(#fff, 0) 100%
        );
        animation: loading 3s infinite;
        content: "";
      }

      div {
        border-radius: 9px;
        background-color: rgba(100, 100, 100, 0.2);
        height: 16px;
        margin: 0 0 0.3rem 0;

        &:last-child {
          margin-top: 1rem;
          height: 24px;
        }
      }
    }
  }
}
